<h5>Hello</h5>

  <%= simple_form_for(@question, method: :post, url: create_new_question_path) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs container-small">
      <%= f.input :question,
                    required: true %>
      <div class="button">
        <%= f.button :submit, "Add additional question" %>
      </div>
    </div>
  <% end %>

  <div class="button">
    <%= link_to "Save Form", user_path(current_user)%>
  </div>
