<div class="container-md">
<h2 class="form-title"> Add a Question:</h2>

  <%= simple_form_for(@question, method: :post, url: create_new_question_path) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :question,
                    required: true %>
    <div class="d-flex">
      <div class="button-md">
        <%= f.button :submit, "Add additional question" %>
      </div>
    <% end %>
    <div class="button-md">
      <%= link_to "Save Form", user_path(current_user)%>
    </div>
    </div>
  </div>
  </div>
