
<div class="container-md">
  <h2 class="page-title">Question</h2>
  <h4 class="page-subtitle">Which question do you want to ask your potential investors?</h4>

  <div class="d-flex justify-content-around align-items-end">

    <div class="question-input">
      <%= simple_form_for(@question, method: :post, url: create_new_question_path) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :question,
                      required: true %>
        <div class="button-md">
          <%= f.button :submit, "Save Question" %>
        </div>
      </div>
      <% end %>
    </div>

    <% if @questions.empty? == false %>
      <div class="question-box">
        <ol>
          <% @questions.each do |question| %>
            <li><%= question.question%></li>
          <% end %>
        </ol>
        <div class="button-md">
          <%= link_to "Save Form", user_path(current_user)%>
        </div>
      </div>
    <% end %>

  </div>
</div>


