<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<div class="d-flex">
<div class="startups col-6">
<h3>Startups</h3>
<% @startups.each do |startup| %>
<div class="card mt-3 mb-5 ml-3 mr-3" style="max-width: 2000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <% if startup.photo.present? %>
        <%= cl_image_tag startup.photo.key, :class => "card-img" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
      <p class="industrycards d-flex justify-content-end"><strong>Industry</strong></p>
        <h5 class="card-title"><%= startup.name %></h5>
        <p class="industrycard"><strong><%= startup.industry %></strong></p>
        <p class="card-text"><%= startup.description %></p>
        <%= link_to "Edit", edit_user_path(startup) %>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>
<div class="investors col-6">
<h3>Investors</h3>
<% @investors.each do |investor| %>
<div class="card mt-3 mb-5 ml-3 mr-3" style="max-width: 2000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <% if investor.photo.present? %>
        <%= cl_image_tag investor.photo.key, :class => "card-img" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
      <p class="industrycards d-flex justify-content-end"><strong>Industry</strong></p>
        <h5 class="card-title"><%= investor.name %></h5>
        <p class="industrycard"><strong><%= investor.industry %></strong></p>
        <p class="card-text"><%= investor.description %></p>
        <%= link_to "Edit", edit_user_path(investor) %>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>
</div>





