<h2 class="page-title">Profile</h2>

<div class="profile d-flex justify-content-start">
  <div class="profile-picture">
    <% if @user.photo.present? %>  
      <%= cl_image_tag(@user.photo.key, :class => "profile-picture-image ml-4 mb-4 shadow") %>
    <% end %>
    <div class = "profile-button ml-4">
      <% if current_user.id == @user.id %>
      <% if current_user.role == 'startup' %>
        <div class="button_small">
          <%= link_to "Request Investment", new_user_funding_round_path(@user), style: "color: white; text-align: center;" %>
        </div>
        <div class="button_small">
          <%= link_to "Edit", edit_user_path(@user) %>
        </div>
      <% else current_user.role == 'investor' %>
        <div class="button_small">
          <%= link_to "Investment Opportunities", funding_rounds_path, style: "color: white; text-align: center;" %>
        </div>
        <div class="button_small">
          <%= link_to "Edit", edit_user_path(@user) %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="profile-text p-4">
      <h2><%= @user.name %></h2>
      <p><%= @user.description %></p>
      <div style="text-decoration: none">
        <ul style="list-style-type: none; padding: 0px;">
          <li><strong>Industry: </strong> <%= @user.industry %></li>
          <li><strong>Website: </strong> <%= @user.industry %></li>
          <li><strong>Address: </strong> <%= @user.address %></li>
        </ul>
      </div>
    </div>
  </div>

<div class="mt-5">
  <% if @user.role == "startup" %>
    <h3 style="text-align: left; padding: 20px; color: #F6AF42; border-bottom: 1px solid #F6AF42; padding-bottom: 5px;">Founding Rounds</h3>
    <% @funding_rounds.each do |funding_round| %>
      <div class="card mt-3 mb-5 ml-3 mr-3" style="max-width: 2000px;">
        <div class="row no-gutters d-flex align-items-center">
          <div class="col-md-3">
            <% if funding_round.user.photo.present? %>
              <%= cl_image_tag funding_round.user.photo.key, :class => "card-img" %>
            <% end %>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title"><strong><%= funding_round.user.name %> - <%= funding_round.name %></strong></h5>
              <p class="industrycard"><strong>Industry:</strong> <%= funding_round.user.industry %></p>
              <p class="card-text"><strong>Amount:</strong> <%= funding_round.amount %> USD</p>
            </div>
          </div>
          <div class="col-md-3">
          <% if funding_round.investments.length > 0 %>
            <div class="button">
              <%=link_to "See Applications (#{funding_round.investments.length})", user_funding_round_questions_path(@user, funding_round)%>
            </div>
            <% else %>
            <div class="button-inactive">
              <p>No Application</p>
            </div>
            <% end %>
        </div>
      </div>
      </div>
    <% end %>

  <% elsif @user.role == "investor" %>
  <h3 style="text-align: left; padding: 20px; color: #F6AF42; border-bottom: 1px solid #F6AF42; padding-bottom: 5px;">Your Funding Applications</h3>
  <% @investments.each do |investment| %>
      <div class="card mt-3 mb-5 ml-3 mr-3" style="max-width: 2000px;">
        <div class="row no-gutters d-flex align-items-center">
          <div class="col-md-3">
            <% if investment.funding_round.user.photo.present? %>
              <%= cl_image_tag investment.funding_round.user.photo.key, :class => "card-img p-2" %>
            <% end %>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title"><strong><%= investment.funding_round.user.name %> - <%= investment.funding_round.name %></strong></h5>
              <p class="industrycard"><strong>Industry:</strong> <%= investment.funding_round.user.industry %></p>
              <p class="card-text"><strong>Amount:</strong> <%= investment.funding_round.amount %>" USD"</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="button-inactive">
              <p>Application done</p>
            </div>
         </div>
       </div>
      </div>
    <% end %>
  <% end %>
</div>

