<div class="profile">
  <div>
    <%= cl_image_tag @user.photo.key, height: 200, width: 200, crop: :fill, style: "border-radius: 200px; margin: 30px 50px;" %>
    <div style="width: 300px; margin: 0px 0px 0px 55px;">
      <div style="text-decoration: none">
        <ul style="list-style-type: none; padding: 0px;">
          <li> Role: <%= @user.role %></li>
          <li> URL: <%= @user.url %></li>
          <li> Industry: <%= @user.industry %></li>
        </ul>
      </div>
    <% if current_user.role == 'startup' %>
      <div class="button_small">
        <%= link_to "Request investment", new_user_funding_round_path(@user), style: "color: white; text-align: center;" %>
      </div>
    <% else current_user.role == 'investor' %>
      <div class="button_small">
        <%= link_to "Investment Opportunities", funding_rounds_path, style: "color: white; text-align: center;" %>
      </div>
    <% end %>


    </div>
  </div>
  <div>
    <h2 style="margin: 30px 0px"><%= @user.name %></h2>
    <p><%= @user.description %></p>
  </div>
</div>

<h3 style="text-align: left; padding: 20px; color: #F6AF42; border-bottom: 1px solid #F6AF42; padding-bottom: 5px;">Your founding rounds</h3>

      <div class="card mt-3 mb-5 ml-3 mr-3" style="max-width: 2000px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1559024094-4a1e4495c3c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
            <p class="industrycards d-flex justify-content-end"><strong>Industry</strong></p>
              <h5 class="card-title"></h5>
              <p class="industrycard"><strong>Description</strong></p>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>


