<%= form_tag startups_users_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a startup"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>



<h2 class="page-title">Startups</h2>



<div id="map"
     style="width: 50%; height: 300px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>




<% @startups.each do |startup| %>
<div class="card mt-3 mb-5 ml-3 mr-3" style="max-width: 2000px;">
  <div class="row no-gutters d-flex align-tiems-center">
    <div class="col-md-3">
      <% if startup.photo.present? %>
        <%= cl_image_tag startup.photo.key, :class => "card-img" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title"><%= startup.name %></h5>
        <p class="industrycard"><strong><%= startup.industry %></strong></p>
        <p class="card-text"><%= startup.description.slice(0..100) %><% if startup.description.length >= 100 %> <%= "..." %><%end%></p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="button">
        <%= link_to "Startup Profile", user_path(startup) %>
      </div>
    </div>
  </div>
</div>
<% end %>
