<h2 class="page-title">Application</h2>

<h4 class="page-subtitle">Let the startup know why to pick you:</h4>
<div class="container-centered">
  <% if @questions.empty? %>
      <% if Investment.where("user_id = #{current_user.id} and funding_round_id = #{@funding_round.id}").empty? %>
        <div class="button">
          <%= link_to "Interested", interested_user_funding_round_path(current_user.id, @funding_round), method: :post %>
        </div>
      <% else %>
        <div class="button-inactive">
          <p>Application done</p>
        </div>
      <% end %>
  <% else %>  
    <%= simple_form_for(@answer, method: :post, url: user_funding_round_investment_answers_path(current_user, @funding_round, @investment.id)) do |f| %>
      <%= f.error_notification %>
      <% @questions.each do |question| %>
        <p><%= question.question %></p>
        <div class="form-inputs container-md">
          <%= f.input :answer, required: true, input_html: { name: "question-#{question.id}" } %>
        </div>
      <% end %>
      <div class="button">
        <%= f.button :submit, "Apply now" %>
      </div>
    <% end %>
  <% end %>
</div>