<h2 class="page-title">Investment Opportunities</h2>

<% @funding_rounds.each do |funding_round| %>
<div class="card mt-3 mb-5 ml-3 mr-3" style="max-width: 2000px;">
  <div class="row no-gutters d-flex align-items-center">
      <div class="col-md-3">
      <% if funding_round.user.photo.present? %>
        <%= cl_image_tag funding_round.user.photo.key, :class => "card-img p-2" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title"><strong><%= funding_round.user.name %> - <%= funding_round.name %></strong></h5>
        <p class="industrycard"><strong>Industry:</strong> <%= funding_round.user.industry %></p>
        <p class="card-text"><strong>Amount:</strong> <%= funding_round.amount %><%= " USD" %></p>
      </div>
    </div>
    <div class="col-md-3">
        <% if Investment.where("user_id = #{current_user.id} and funding_round_id = #{funding_round.id}").empty? %>
        <div class="button">
          <%= link_to "Interested", interested_user_funding_round_path(current_user.id, funding_round), method: :post %>
        </div>
        <% else %>
        <div class="button-inactive">
          <p>Application done</p>
        </div>
        <% end %>
        <div class="button">
          <%= link_to "Startup Profile", user_path(funding_round.user) %>
        </div>
    </div>
  </div>
</div>
<% end %>
 