
<h2 class="page-title">Funding round</h2>

<h4 class="page-subtitle">Add your new funding round below</h4>

<div class="container-md">
 
  <%= simple_form_for(@funding_round, method: :post, url: create_new_funding_path) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :name,
                    required: true %>
      <%= f.input :amount,
                    required: true %>
      <div class="button">
        <%= f.button :submit, "Save Funding Round" %>
      </div>
    </div>
  <% end %>
</div>

