  <%= simple_form_for(@funding_round) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs container-small">
      <%= f.input :name,
                    required: true %>
      <%= f.input :amount,
                    required: true %>
      <div class="button">
        <%= f.button :submit, "Save Funding Rond" %>
      </div>
    </div>
  <% end %>
